body{
    margin: 0px;
}

nav{
    height: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.menu{
    display: flex;
    list-style-type: none;
    height: 40px;
    padding-left: 0px;
    margin-left: 8%;
    margin-right: 8%;
    align-items: center;
    border: 2px solid;
    border-radius: 4px;
}

li{
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.submenu{
    display: none;
}

.submenu li{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    height: 25px;
    align-items: center;
}

.menu li:hover{
    background-color: rgb(108, 207, 214);
    height: 40px;
    display: flex;
    align-items: center;
}
.menu li:hover .submenu{
    display: block;
    position: absolute;
    width: 300px;
    top: 10%;
    border: 2px solid;
    border-radius: 4px;
    list-style-type: none;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p{
    margin: 0px;
}

hr{
    border: 1px solid;
}

.cut{
    color: #b4c5bf;
}